@import "default";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

.preloader{
    position:fixed;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:1;
    visibility: visible;
    transition:all .4s linear;
    z-index:9999;
}
.del{
    opacity: 0;
    visibility:hidden;
}

.BUTTON {
    .Button {
        overflow: hidden;
        border-radius: 48px;
        display: inline-block;
        .But-hov {
            position: absolute;
            background-color: rgba(85, 90, 95, 0.4);
            position: absolute;
            top: 0;
            right: 259px;
            bottom: 0;
            width: 100%;
            border-radius: 48px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
        a {
            position: relative;
            color: #fff;
            text-transform: uppercase;
            padding: 19px 54px;
            background-color: $yellow;
            border-radius: 48px;
            font-weight: 600;
            text-decoration: none;
            transition: 0.2s linear;
            display: inline-block;
            &:hover {
                .But-hov {
                    opacity: 1;
                    right: 0;
                    border-radius: 48px;
                }
            }
        }
    }
}

.carousel-item {
    img {
        width: 100% !important;
        height: 50em !important;
        object-fit: cover;
    }
    .carousel_text {
        position: absolute;
        top: 30% !important;
        p {
            font-size: 25px;
        }
        @extend .BUTTON;
        .Button {
            margin-top: 70px;
        }
        .carousel_bottom {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 60px;
            width: 100%;
            .carousel_icon {
                display: flex;
                align-items: center;
                transition: all 0.2s ease;
                // padding-right: 26px;
                &:hover {
                    color: $yellow;
                    cursor: pointer;
                }
            }
            i {
                font-size: 28px;
                font-weight: 200;
            }
            span {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                margin-left: 16px;
            }

            .carousel_Icon {
                .Line {
                    content: "";
                    height: 26px;
                    width: 1px;
                    border: 0.5px dashed rgba(255, 255, 255, 0.3);
                    display: block;
                    margin-left: 0 !important;
                }
            }
        }
    }
}
.carousel-control-prev,
.carousel-control-next {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}
.carousel-control-prev {
    left: 20px;
}

.carousel-control-next {
    right: 20px;
}

.carousel-indicators {
    display: none;
}
.carousel-caption {
    h1 {
        font-size: 80px;
        text-transform: uppercase;
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none !important;
}
#Dishes {
    background-image: url("http://fooddy.ancorathemes.com/wp-content/uploads/2017/01/bg-6.jpg?id=311");
    padding-bottom: 110px;
    @extend .Title;
    i {
        color: $yellow;
        font-style: normal;
    }
    .dish_hov {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
        border-radius: 48px 48px 0 0;
        background-color: rgba(65, 69, 73, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s linear;
    }
    .div-hov {
        &:hover {
            .dish_hov {
                opacity: 1;
            }
        }
    }
    .dish-box {
        position: relative;
        img {
            width: 100%;
            height: 180px;
            border-radius: 48px 48px 0 0;
        }
        .Link {
            height: 41px;
            width: 42px;
            position: absolute;
            transform: rotate(45deg);
            border: 3px solid $yellow;
            transition: all 0.2s linear;
            &:hover {
                background-color: $yellow;
            }
        }
        i {
            top: 34%;
            left: 36%;
            position: absolute;
            color: white;
            transform: rotate(-45deg);
            position: absolute;
            color: white;
            font-size: 14px;
        }
    }
    .dish-text {
        text-align: center;
        background: white;
        border-radius: 0 0 48px 48px;
        padding: 30px 0;
        margin-bottom: 30px;
        h3 {
            color: #465058;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.1s linear;
            &:hover {
                color: #f76f2a;
            }
        }
        p {
            color: $lightgray;
            font-size: 13px;
        }
    }
    .dish-bott {
        text-align: center;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            display: inline-block;
        }
        span {
            color: $lightgray;
            font-size: 14px;
            font-weight: 600;
            margin-right: 30px;
        }
        @extend .BUTTON;
    }
}

#Food_App {
    background-image: url("http://fooddy.ancorathemes.com/wp-content/uploads/2016/12/bg-9.jpg?id=363");
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: cover !important;
    .Left_app {
        h2 {
            font-size: 52px;
            color: #fff;
            padding: 110px 0 60px 0;
        }
        .trx_addons {
            display: inline-block;
            color: #fff;
            font-weight: 600;
            transition: all 0.2s linear;
            &:hover {
                color: $yellow;
                cursor: pointer;
            }
            i {
                font-size: 27px;
            }
            span {
                text-transform: uppercase;
                letter-spacing: -0.4px;
                padding: 0 32px 0 32px;
                position: relative;
                &.span_app {
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 24px;
                        top: 1px;
                        right: -8px;
                        border-left: 1px dashed rgba(154, 154, 154, 0.4);
                    }
                }
            }
        }
    }
    .App_img {
        margin-top: 80px;
    }
}

#New_dish {
    padding-bottom: 50px;
    @extend .Title;

    @extend .Dish;
    .dish_hov {
        border-radius: 48px;
    }
    img {
        border-radius: 48px;
        height: 230px !important;
    }
    .dish_text {
        text-align: center;
        h3 {
            margin-top: 30px;
            a {
                font-size: 22px;
                color: $lightblack;
                transition: all 0.2s linear;
                &:hover {
                    color: $orange;
                    text-decoration: none;
                }
            }
        }
        span {
            color: $orange;
            font-size: 18px;
            font-weight: 600;
        }

        .Button {
            border-radius: 48px;
            margin-top: 20px;
            .Order_but {
                display: inline-block;
                overflow: hidden;
                color: #fff;
                background-color: $yellow;
                text-transform: uppercase;
                padding: 12px 30px;
                border-radius: 22px;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                position: relative;
                i {
                    margin-right: 10px;
                }
                &:hover {
                    .But_hov {
                        opacity: 1;
                        right: 0;
                        border-radius: 48px;
                    }
                }
                .But_hov {
                    position: absolute;
                    background-color: rgba(85, 90, 95, 0.4);
                    position: absolute;
                    top: 0;
                    right: 259px;
                    bottom: 0;
                    width: 100%;
                    border-radius: 48px;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
    @extend .View_But;
}

#News {
    background-image: url("http://fooddy.ancorathemes.com/wp-content/uploads/2017/01/bg-6.jpg?id=311");
    @extend .Title;
    padding-bottom: 50px;
    .news_img {
        position: relative;
        &:hover {
            .dish_hov {
                opacity: 1;
            }
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 48px 48px 0 0;
        }
        @extend .Dish;
        .dish_hov {
            border-radius: 48px 48px 0 0;
        }
        i {
            background-color: #fff;
            margin-right: 6px;
            border-radius: 50%;
            padding: 19px 18px;
            transition: all 0.2s linear;
            &:hover {
                color: $yellow;
            }
        }
    }
    .news_text {
        text-align: center;
        padding: 39px 56px;
        background-color: #fff;
        border-radius: 0 0 48px 48px;
        a {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            text-decoration: none;
            transition: all 0.2s linear;
            &.date {
                color: $orange;
                &:hover {
                    color: $black;
                }
            }
            &.Name {
                color: $lightgray;
                // position: relative;
                // &::before{
                //     content:'|';
                //     position: absolute;
                //     top:0;
                //     left:0;
                // }
                &:hover {
                    color: $black;
                }
            }
        }
        p {
            font-size: 14px;
            color: $lightgray;
        }
        h5 {
            margin: 20px 0;
            transition: all 0.2s linear;
            color: $lightblack;
            &:hover {
                color: $orange;
                cursor: pointer;
            }
        }
    }
    @extend .View_But;
}

#Gallery {
    background-image: url("http://fooddy.ancorathemes.com/wp-content/uploads/2016/12/bg-11.jpg?id=384");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
    @extend .Title;

    .View_More {
        margin-top: 30px;
    }
    h2 {
        color: #fff;
    }
    h6 {
        color: #fff;
        opacity: 0.5;
    }
    .IMG {
        position: relative;
        margin-bottom: 30px;
        &:hover {
            .dish_hov {
                opacity: 1;
                z-index: 1000;
            }
        }
        img {
            width: 100%;
            height: 250px;
            border-radius: 48px;
        }
        .dish_hov {
            border-radius: 48px;
            position: absolute;
            z-index: 0 !important;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            background-color: rgba(65, 69, 73, 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s linear;
            i {
                background-color: white;
                padding: 20px 21px;
                border-radius: 50%;
                transition: all 0.2s ease;
                &.INFO {
                    padding: 20px 26px;
                    margin-left: 8px;
                }
                &:hover {
                    color: $yellow;
                    cursor: pointer;
                }
            }
        }
    }

    @extend .View_But;
    a {
        color: $yellow !important;
        &:hover {
            color: $orange !important;
        }
    }
}

#Client {
    background-image: url("http://fooddy.ancorathemes.com/wp-content/uploads/2016/12/bg-13.jpg?id=425");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (max-width: 1200px) {
    .carousel_icon {
        padding-right: 8px !important;
        span {
            font-size: 14px !important;
            margin-left: 10px !important;
        }
        i {
            font-size: 24px !important;
        }
    }
    .carousel-caption {
        h1 {
            font-size: 74px;
        }
    }
    #Food_App {
        i {
            font-size: 24px !important;
        }
        span {
            font-size: 14px;
            &.span_app {
                &::after {
                    display: none;
                }
            }
        }
    }

    #News {
        .news_text {
            padding: 28px 35px;
        }
    }
    #Gallery {
        .IMG {
            img {
                height: 200px;
            }
        }
    }
    #New_dish {
        span {
            &.First_span {
                margin-top: 40px;
                display: block;
            }
        }
    }
}
@media (max-width: 991px) {
    .carousel_bottom {
        display: none !important;
    }
    .carousel-item {
        img {
            height: 40em !important;
        }
    }
    .carousel-caption {
        h1 {
            font-size: 62px;
        }
    }
    .carousel_text p {
        font-size: 17px !important;
    }
    #Food_App {
        h2 {
            font-size: 35px !important;
        }
    }

    #News {
        .news_text {
            padding: 21px 17px;
        }
        a {
            &.Name {
                display: none;
            }
        }
        h5 {
            font-size: 17px;
            margin: 14px 0;
        }
        p {
            font-size: 13px !important;
        }
    }

    #Gallery {
        .NONE {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .owl-next,
    .owl-prev {
        position: relative !important;
    }
    .item_in {
        p {
            font-size: 17px !important;
        }
    }
    .carousel-caption {
        h1 {
            font-size: 50px;
        }
    }
    .dish-text {
        h3 {
            font-size: 18px;
        }
    }
    .dish-bott {
        flex-direction: column;
        div {
            span {
                margin-right: 0 !important;
            }
        }
        a {
            padding: 16px 36px !important;
            font-size: 14px !important;
        }
    }
    .Button {
        margin-top: 48px;
        
    }

    #Food_App {
        .App_img {
            width: 50%;
            margin: 80px auto 0;
            img {
                width: 100%;
            }
        }
        span {
            padding: 0 22px 0 22px !important;
        }
    }
    #Gallery {
        .NONE1 {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        h1 {
            font-size: 36px !important;
        }
    }
    .carousel-item {
        img {
            height: 28em !important;
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 46px;
        height: 46px;
        i {
            font-size: 12px;
        }
    }
    .carousel-control-prev {
        left: 9px;
    }
    .carousel-control-next {
        right: 9px;
    }
    .carousel-item .carousel_text {
        top: 21% !important;
    }
    .div-hov {
        width: 390px;
        margin: auto;
    }
    .Button {
        a {
            padding: 14px 34px !important;
            font-size: 11px;
        }
    }

    #Food_App {
        .trx_addons {
            text-align: center;
            margin-bottom: 16px;
        }
        .Left_app {
            h2 {
                padding: 76px 0 50px 0;
                font-size: 30px !important;
            }
        }
        .App_img {
            margin: 50px auto 0;
        }
    }

    #Client {
        .owl-prev,
        .owl-next {
            font-size: 44px !important;
            width: 58px !important;
            height: 56px !important;
            span {
                top: -9px !important;
                right: 22px !important;
            }
        }
    }

    #New_dish {
        .sec_box {
            margin-top: 75px;
            margin-bottom: 75px;
        }
    }
    .News {
        width: 75%;
        margin: auto;
        .news_text {
            margin-bottom: 20px;
            h5 {
                margin: 12px 0 !important;
            }
        }
    }
    #Gallery {
        .IMG {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            img {
                height: 260px;
            }
        }
        .NONE2 {
            display: none;
        }
    }
}

@media (max-width: 380px) {
    #Gallery {
        .IMG {
            img {
                height: 200px;
            }
        }
    }
    .dish-bott {
        a {
            padding: 13px 26px !important;
            font-size: 12px !important;
        }
    }
}

@media (max-width: 320px) {
    #Gallery {
        .IMG {
            width: 80%;
        }
    }
    .News {
        width: 90%;
    }
}
