#discuss {
    background-color: $c-light-cyan;
    display: flex;
    align-items: center;
    height: 700px;

    h2 {
        margin-bottom: 2rem;
    }

    p {
        font-size: 18px;
        margin: 0 auto 1.25rem;
        width: 75%;
    }

    form {
        input {
            width: 75%;
            outline: none;
            border-radius: 10px;
            border: 1px solid $c-blue;
            margin-bottom: 1.25rem;
            height: 3rem;
            padding: 0 1rem;

            &:focus {
                border: 2px solid $c-blue;
            }
        }

        button {
            background-color: $c-green;
            border-radius: 5px;
            padding: 1.1rem 6rem;
            text-transform: uppercase;
            border: 2px solid $c-green;
            transition: all .2s ease;
            display: inline-block;
            color: $c-white;
            font-weight: 500;
            margin-top: 46px;

            &:hover {
                border: 2px solid $c-blue;
            }

            &:active {
                background-color: $c-blue;
            }
        }
    }
}

@media(max-width:992px) {
    #discuss {
        height: 100%;
        padding: 4rem 0;

        form {
            button {
                padding: 0.9rem 4.2rem;
            }
        }
    }
}

@media(max-width:576px) {
    #discuss {
        form {
            button {
                padding: 0.7rem 2.7rem;
                font-size: 15px;
            }
        }

        p {
            font-size: 16px;
        }

        img {
            width: 250px;
        }
    }
}