#examples {
    background-color: $c-light-cyan;

    .examples__item__inner {
        position: relative;

        .examples__overlay {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $c-blue;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s linear;

            div {
                text-align: center;
                color: $c-white;
            }
        }

        &:hover {
            .examples__overlay {
                opacity: 1;
            }

            cursor: pointer;
        }

        img {
            width: 100%;
        }
    }

    .slider__control {
        margin-top: 5rem;

        div {
            border: 2px solid $c-blue;
            width: 3rem;
            height: 3rem;
            border-radius: .7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .2s ease;

            &:hover {
                background-color: $c-blue;
            }

            &:hover i {
                color: $c-white;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}

@media(max-width:576px) {
    #examples {
        .slider__control {
            margin-top: 3.8rem;
        }
    }
}