#offer {
    background-color: $c-light-cyan;

    .offer__item {
        background: white;
        border-radius: 15px;
    }

    .offer__main {
        background-color: $c-white;
        border-radius: 14px;
        padding: 1.2rem 2.1rem;
        margin-bottom: 0.6rem;

        h5 {
            margin-bottom: 0;
            margin-left: 1.5rem;
        }
    }

    .offer__drop {
        display: none;
        padding: 0 2.1rem;

        h5 {
            margin-left: 1.5rem;
            font-weight: 700;
        }

        p {
            margin-left: 3rem;
            margin-top: 1rem;
            padding-bottom: 2rem;
        }
    }
}

@media(max-width:768px) {
    #offer {
        .offer__main {
            padding: 1.2rem 1.1rem;
        }

        h2 {
            margin-bottom: 3.9rem;
            font-size: 1.5rem;
        }

        h5 {
            font-size: 1.1rem;
            margin-left: 1.1rem;
        }

        img {
            width: 20px
        }

        .offer__drop {
            padding: 0 1.1rem;
        }
    }
}

@media(max-width:576px) {
    #offer {
        .offer__main {
            padding: 1rem 0.8rem;
        }

        .offer__drop {
            padding: 0 0.8rem;
        }
    }
}