#services {
    .services__item {
        border: 2px solid $c-blue;
        border-radius: 15px;
        height: 100%;
        padding: 4rem 1rem 2rem 2rem;

        .services__img {
            img {
                width: 13rem;
                height: 13rem;

            }
        }
    }

    .slider__control {
        margin-top: 5rem;

        div {
            border: 2px solid $c-blue;
            width: 3rem;
            height: 3rem;
            border-radius: .7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .2s ease;

            &:hover {
                background-color: $c-blue;
            }

            &:hover i {
                color: $c-white;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}

@media(max-width:576px) {
    #services {
        .services__item {
            padding: 3rem 1rem 1rem 1rem;

            h4 {
                font-size: 1.25rem;
            }

            p {
                font-size: 15px;
            }

            .services__img img {
                width: 11rem;
                height: 11rem;
            }
        }

        .slider__control {
            margin-top: 3.8rem;
        }
    }
}