@import "default";

.Head {
  position: relative;
}
#Contact {
  background-image: url(https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  position: relative;
  font-family: "Cinzel", serif;
  background-size: cover;
  background-position: center;
  color: #fff;
  i{
    margin-bottom: 25px;
  }
  .ContactOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .Contact-main {
    padding: 200px 0;
    h2 {
      font-size: 50px;
      margin-bottom: 30px;
    }
    input {
      width: 80%;
      border: none;
      color: rgb(255, 253, 253);
      border: 2px solid rgb(190, 190, 190);
      padding: 10px;
      margin: 10px 0;
      background-color: rgba(136, 133, 133, 0.5);
      transition: 0.7s;
      outline: none;
      border-radius: 15px;
      &::placeholder {
        color: rgb(211, 206, 206);
      }
      &:focus {
        width: 100%;
        border-color: $yellow;
      }
    }
    textarea {
      width: 100%;
      padding: 12px;
      outline: none;
      color: rgb(255, 253, 253);
      background-color: rgba(136, 133, 133, 0.5);
      &::placeholder {
        color: rgb(211, 206, 206);
      }
      &:focus {
        border-color: $yellow;
      }
    }
    .ViewBtn {
      background-color: transparent;
      border: 1px solid;
      &:hover{
        border:1px solid $yellow;
        outline: none;
      }
    }
    @extend %Button;
  }
}
