* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Head {
  position: absolute;
  z-index: 1000;
}

.Head .Top-bar {
  background-color: #2b2e31;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 32px;
}

.Head .Top-bar .Top-bar-left span {
  margin-right: 28px;
}

.Head .Top-bar .Top-bar-left span:last-child {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-left span:last-child:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right i {
  margin: 0 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right i:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right span:hover {
  color: #c47908;
  cursor: pointer;
}

.Head #Header {
  font-family: "Cinzel", serif;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.Head #Header .Logo {
  color: #ffffff;
}

.Head #Header .Logo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Head #Header .Logo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Head #Header .Navbar ul li {
  list-style: none;
  margin-left: 30px;
  position: relative;
  font-weight: bold;
  padding-bottom: 10px;
}

.Head #Header .Navbar ul li .active {
  color: #c47908;
}

.Head #Header .Navbar ul li i {
  margin-left: 5px;
  font-size: 10px;
  color: #ffffff;
}

.Head #Header .Navbar ul li a {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  text-decoration: none;
  color: #ffffff;
}

.Head #Header .Navbar ul li.Main {
  position: relative;
}

.Head #Header .Navbar ul li.Main:hover .Sub-Menu {
  display: block;
}

.Head #Header .Navbar ul li:hover a {
  color: #c47908;
}

.Head #Header .Navbar ul li:hover i {
  color: #c47908;
}

.Head #Header .Navbar .Sub-Menu {
  display: none;
  position: absolute;
  bottom: -64px;
  text-align: left;
  background-color: #2b2e31;
  width: 240px;
  padding-left: 14px;
  border-radius: 4px 15px;
}

.Head #Header .Navbar .Sub-Menu li {
  margin-left: 0 !important;
}

.Head #Header .Navbar .Sub-Menu li:hover a {
  color: #c47908 !important;
}

.Head #Header .Navbar .Sub-Menu li a {
  color: #ffffff !important;
}

.Head .Title {
  text-align: center;
}

.Head .Title h1 {
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Cinzel", serif;
  text-shadow: black 19.25px -6.34333px 15.2012px;
  -webkit-transform: translateY(290px);
          transform: translateY(290px);
}

.Header-Resp {
  display: none;
  color: #ffffff;
  padding: 20px 0;
}

.Header-Resp .Menu-bar i {
  font-size: 28px;
}

.Header-Resp .Logoo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Header-Resp .Logoo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Header-Resp .Cart i {
  font-size: 28px;
}

.fixed {
  background-color: #2b2e31;
}

.Block {
  display: none;
}

#Footer {
  background-color: #1b2024;
  padding: 50px 0;
}

#Footer h2 {
  font-family: initial;
  color: #c47908;
  letter-spacing: 1px;
  font-size: 24px;
}

#Footer h2.SecondH {
  margin-bottom: 20px;
}

#Footer ul {
  margin-bottom: 42px;
}

#Footer ul li {
  color: #ffffff;
  list-style: none;
  font-family: initial;
}

#Footer a {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 8px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#Footer a.Fb {
  font-size: 16px;
  padding: 14px 21px;
}

#Footer a.Inst {
  font-size: 18px;
  padding: 14px 20px;
}

#Footer a:hover {
  color: #c47908;
}

.Bottom-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.9);
}

.Bottom-bar p {
  font-size: 14px;
  color: #ffffff;
  line-height: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#Contact .Contact-main .ViewBtn {
  color: #c47908;
  position: relative;
  border: 2px solid #c47908;
  padding: 16px 37px;
  text-decoration: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

#Contact .Contact-main .ViewBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #c47908;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  z-index: -100;
}

#Contact .Contact-main .ViewBtn:hover {
  color: #ffffff;
}

#Contact .Contact-main .ViewBtn:hover::before {
  width: 100%;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .Top-bar {
    display: none;
  }
  .slider {
    position: relative;
  }
  #Header {
    padding: 0px !important;
  }
  #Header .Navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: -120%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: left;
    background-color: #1a1919;
  }
  #Header .Navbar.activeM {
    left: 0;
  }
  #Header .Navbar ul {
    display: block;
    height: 100vh;
  }
  #Header .Navbar li {
    padding-bottom: 51px !important;
  }
  #Header .Navbar .Sub-Menu {
    position: absolute;
    text-align: left;
    background-color: #2b2e31;
    width: 240px !important;
    border-radius: 4px 15px;
    left: 3px;
    top: 24px;
    bottom: -4px !important;
  }
  #Header .Navbar .Sub-Menu li {
    padding-bottom: 10px !important;
  }
  #Header .Logo {
    display: none;
  }
  .Head .Header-Resp {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .fixed {
    display: none;
  }
}

@media (max-width: 576px) {
  .Img-zoom {
    display: none;
  }
}

.Head {
  position: relative;
}

#Contact {
  background-image: url(https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  position: relative;
  font-family: "Cinzel", serif;
  background-size: cover;
  background-position: center;
  color: #fff;
}

#Contact i {
  margin-bottom: 25px;
}

#Contact .ContactOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#Contact .Contact-main {
  padding: 200px 0;
}

#Contact .Contact-main h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#Contact .Contact-main input {
  width: 80%;
  border: none;
  color: #fffdfd;
  border: 2px solid #bebebe;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(136, 133, 133, 0.5);
  -webkit-transition: 0.7s;
  transition: 0.7s;
  outline: none;
  border-radius: 15px;
}

#Contact .Contact-main input::-webkit-input-placeholder {
  color: #d3cece;
}

#Contact .Contact-main input:-ms-input-placeholder {
  color: #d3cece;
}

#Contact .Contact-main input::-ms-input-placeholder {
  color: #d3cece;
}

#Contact .Contact-main input::placeholder {
  color: #d3cece;
}

#Contact .Contact-main input:focus {
  width: 100%;
  border-color: #c47908;
}

#Contact .Contact-main textarea {
  width: 100%;
  padding: 12px;
  outline: none;
  color: #fffdfd;
  background-color: rgba(136, 133, 133, 0.5);
}

#Contact .Contact-main textarea::-webkit-input-placeholder {
  color: #d3cece;
}

#Contact .Contact-main textarea:-ms-input-placeholder {
  color: #d3cece;
}

#Contact .Contact-main textarea::-ms-input-placeholder {
  color: #d3cece;
}

#Contact .Contact-main textarea::placeholder {
  color: #d3cece;
}

#Contact .Contact-main textarea:focus {
  border-color: #c47908;
}

#Contact .Contact-main .ViewBtn {
  background-color: transparent;
  border: 1px solid;
}

#Contact .Contact-main .ViewBtn:hover {
  border: 1px solid #c47908;
  outline: none;
}
/*# sourceMappingURL=contact.css.map */