* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Head {
  position: absolute;
  z-index: 1000;
}

.Head .Top-bar {
  background-color: #2b2e31;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 32px;
}

.Head .Top-bar .Top-bar-left span {
  margin-right: 28px;
}

.Head .Top-bar .Top-bar-left span:last-child {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-left span:last-child:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right i {
  margin: 0 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right i:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right span:hover {
  color: #c47908;
  cursor: pointer;
}

.Head #Header {
  font-family: "Cinzel", serif;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.Head #Header .Logo {
  color: #ffffff;
}

.Head #Header .Logo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Head #Header .Logo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Head #Header .Navbar ul li {
  list-style: none;
  margin-left: 30px;
  position: relative;
  font-weight: bold;
  padding-bottom: 10px;
}

.Head #Header .Navbar ul li .active {
  color: #c47908;
}

.Head #Header .Navbar ul li i {
  margin-left: 5px;
  font-size: 10px;
  color: #ffffff;
}

.Head #Header .Navbar ul li a {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  text-decoration: none;
  color: #ffffff;
}

.Head #Header .Navbar ul li.Main {
  position: relative;
}

.Head #Header .Navbar ul li.Main:hover .Sub-Menu {
  display: block;
}

.Head #Header .Navbar ul li:hover a {
  color: #c47908;
}

.Head #Header .Navbar ul li:hover i {
  color: #c47908;
}

.Head #Header .Navbar .Sub-Menu {
  display: none;
  position: absolute;
  bottom: -64px;
  text-align: left;
  background-color: #2b2e31;
  width: 240px;
  padding-left: 14px;
  border-radius: 4px 15px;
}

.Head #Header .Navbar .Sub-Menu li {
  margin-left: 0 !important;
}

.Head #Header .Navbar .Sub-Menu li:hover a {
  color: #c47908 !important;
}

.Head #Header .Navbar .Sub-Menu li a {
  color: #ffffff !important;
}

.Head .Title {
  text-align: center;
}

.Head .Title h1 {
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Cinzel", serif;
  text-shadow: black 19.25px -6.34333px 15.2012px;
  -webkit-transform: translateY(290px);
          transform: translateY(290px);
}

.Header-Resp {
  display: none;
  color: #ffffff;
  padding: 20px 0;
}

.Header-Resp .Menu-bar i {
  font-size: 28px;
}

.Header-Resp .Logoo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Header-Resp .Logoo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Header-Resp .Cart i {
  font-size: 28px;
}

.fixed {
  background-color: #2b2e31;
}

.Block {
  display: none;
}

#Footer {
  background-color: #1b2024;
  padding: 50px 0;
}

#Footer h2 {
  font-family: initial;
  color: #c47908;
  letter-spacing: 1px;
  font-size: 24px;
}

#Footer h2.SecondH {
  margin-bottom: 20px;
}

#Footer ul {
  margin-bottom: 42px;
}

#Footer ul li {
  color: #ffffff;
  list-style: none;
  font-family: initial;
}

#Footer a {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 8px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#Footer a.Fb {
  font-size: 16px;
  padding: 14px 21px;
}

#Footer a.Inst {
  font-size: 18px;
  padding: 14px 20px;
}

#Footer a:hover {
  color: #c47908;
}

.Bottom-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.9);
}

.Bottom-bar p {
  font-size: 14px;
  color: #ffffff;
  line-height: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.SectionFirst .Images, .SectionFirst .Images1, .SectionFirst .Images2, .SectionFirst .Images3, .SectionFirst .Images4, .SectionFirst .Images5 {
  position: relative;
  padding: 20px 0;
}

.SectionFirst .Images .Img-text, .SectionFirst .Images1 .Img-text, .SectionFirst .Images2 .Img-text, .SectionFirst .Images3 .Img-text, .SectionFirst .Images4 .Img-text, .SectionFirst .Images5 .Img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.SectionFirst .Images .Img-text h2, .SectionFirst .Images1 .Img-text h2, .SectionFirst .Images2 .Img-text h2, .SectionFirst .Images3 .Img-text h2, .SectionFirst .Images4 .Img-text h2, .SectionFirst .Images5 .Img-text h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.SectionFirst .Images .Img, .SectionFirst .Images1 .Img, .SectionFirst .Images2 .Img, .SectionFirst .Images3 .Img, .SectionFirst .Images4 .Img, .SectionFirst .Images5 .Img {
  position: relative;
  overflow: hidden;
}

.SectionFirst .Images .Img img, .SectionFirst .Images1 .Img img, .SectionFirst .Images2 .Img img, .SectionFirst .Images3 .Img img, .SectionFirst .Images4 .Img img, .SectionFirst .Images5 .Img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.SectionFirst .Images .Img .img-overlay, .SectionFirst .Images1 .Img .img-overlay, .SectionFirst .Images2 .Img .img-overlay, .SectionFirst .Images3 .Img .img-overlay, .SectionFirst .Images4 .Img .img-overlay, .SectionFirst .Images5 .Img .img-overlay {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.SectionFirst .Images:hover img, .SectionFirst .Images1:hover img, .SectionFirst .Images2:hover img, .SectionFirst .Images3:hover img, .SectionFirst .Images4:hover img, .SectionFirst .Images5:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.SectionFirst .Images:hover .Img-text, .SectionFirst .Images1:hover .Img-text, .SectionFirst .Images2:hover .Img-text, .SectionFirst .Images3:hover .Img-text, .SectionFirst .Images4:hover .Img-text, .SectionFirst .Images5:hover .Img-text {
  top: 45%;
}

.SectionFirst .Images:hover .img-overlay, .SectionFirst .Images1:hover .img-overlay, .SectionFirst .Images2:hover .img-overlay, .SectionFirst .Images3:hover .img-overlay, .SectionFirst .Images4:hover .img-overlay, .SectionFirst .Images5:hover .img-overlay {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}

.SectionFirst .modal, .SectionFirst .modal1, .SectionFirst .modal2, .SectionFirst .modal3, .SectionFirst .modal4, .SectionFirst .modal5 {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1000;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  display: none;
}

.SectionFirst .modal .Modal-context, .SectionFirst .modal1 .Modal-context, .SectionFirst .modal2 .Modal-context, .SectionFirst .modal3 .Modal-context, .SectionFirst .modal4 .Modal-context, .SectionFirst .modal5 .Modal-context {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.SectionFirst .modal .Modal-context img, .SectionFirst .modal1 .Modal-context img, .SectionFirst .modal2 .Modal-context img, .SectionFirst .modal3 .Modal-context img, .SectionFirst .modal4 .Modal-context img, .SectionFirst .modal5 .Modal-context img {
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.SectionFirst .modal .Modal-context .Modal-img, .SectionFirst .modal1 .Modal-context .Modal-img, .SectionFirst .modal2 .Modal-context .Modal-img, .SectionFirst .modal3 .Modal-context .Modal-img, .SectionFirst .modal4 .Modal-context .Modal-img, .SectionFirst .modal5 .Modal-context .Modal-img {
  margin-bottom: 40px;
}

.SectionFirst .modal .Modal-context .Modal-img:hover img, .SectionFirst .modal1 .Modal-context .Modal-img:hover img, .SectionFirst .modal2 .Modal-context .Modal-img:hover img, .SectionFirst .modal3 .Modal-context .Modal-img:hover img, .SectionFirst .modal4 .Modal-context .Modal-img:hover img, .SectionFirst .modal5 .Modal-context .Modal-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.SectionFirst .modal .Modal-context .Modal-img h4, .SectionFirst .modal1 .Modal-context .Modal-img h4, .SectionFirst .modal2 .Modal-context .Modal-img h4, .SectionFirst .modal3 .Modal-context .Modal-img h4, .SectionFirst .modal4 .Modal-context .Modal-img h4, .SectionFirst .modal5 .Modal-context .Modal-img h4 {
  margin-top: 14px;
  font-size: 16px;
  color: #c47908;
}

.SectionFirst .Close, .SectionFirst .Close1, .SectionFirst .Close2, .SectionFirst .Close3, .SectionFirst .Close4, .SectionFirst .Close5 {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  float: right;
}

.SectionFirst .Close:hover i, .SectionFirst .Close1:hover i, .SectionFirst .Close2:hover i, .SectionFirst .Close3:hover i, .SectionFirst .Close4:hover i, .SectionFirst .Close5:hover i {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 992px) {
  .Top-bar {
    display: none;
  }
  .slider {
    position: relative;
  }
  #Header {
    padding: 0px !important;
  }
  #Header .Navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: -120%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: left;
    background-color: #1a1919;
  }
  #Header .Navbar.activeM {
    left: 0;
  }
  #Header .Navbar ul {
    display: block;
    height: 100vh;
  }
  #Header .Navbar li {
    padding-bottom: 51px !important;
  }
  #Header .Navbar .Sub-Menu {
    position: absolute;
    text-align: left;
    background-color: #2b2e31;
    width: 240px !important;
    border-radius: 4px 15px;
    left: 3px;
    top: 24px;
    bottom: -4px !important;
  }
  #Header .Navbar .Sub-Menu li {
    padding-bottom: 10px !important;
  }
  #Header .Logo {
    display: none;
  }
  .Head .Header-Resp {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .fixed {
    display: none;
  }
}

@media (max-width: 576px) {
  .Img-zoom {
    display: none;
  }
}

.TuKitchen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url(https://images.unsplash.com/photo-1488992783499-418eb1f62d08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80);
  background: linear-gradient(rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1488992783499-418eb1f62d08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1153&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.TuKitchen::after {
  content: "";
  width: 100%;
  height: 13px;
  position: absolute;
  background-image: url(http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/images/torn-papper2.png);
  bottom: -7px;
  left: 0;
}

.TuKitchen h1 {
  text-shadow: 2px 0 black;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
}

.SectionFirst {
  position: relative;
  padding: 90px 0;
}
/*# sourceMappingURL=turk.css.map */