$white: #ffffff;
$yellow: #c47908;
* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Head {
  position: absolute;
  z-index: 1000;

  .Top-bar {
    background-color: #2b2e31;
    // #252323
    color: $white;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 32px;
    .Top-bar-left {
      span {
        margin-right: 28px;
        &:last-child {
          transition: all 0.2s ease-in-out;
          &:hover {
            color: $yellow;
            cursor: pointer;
          }
        }
      }
    }
    .Top-bar-right {
      i {
        margin: 0 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $yellow;
          cursor: pointer;
        }
      }
      span {
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $yellow;
          cursor: pointer;
        }
      }
    }
  }

  #Header {
    font-family: "Cinzel", serif;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .Logo {
      color: $white;
      h4 {
        font-family: "Cinzel", serif;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 22px;
        p {
          font-size: 10px;
          margin-left: 15px;
          margin-bottom: 0;
          letter-spacing: 10px;
        }
      }
    }
    .Navbar {
      ul {
        li {
          list-style: none;
          margin-left: 30px;
          position: relative;
          font-weight: bold;
          padding-bottom: 10px;
          .active {
            color: $yellow;
          }
          i {
            margin-left: 5px;
            font-size: 10px;
            color: $white;
          }
          a {
            transition: all 0.1s linear;
            text-decoration: none;
            color: $white;
          }
          &.Main {
            position: relative;

            &:hover {
              .Sub-Menu {
                display: block;
              }
            }
          }

          &:hover {
            a {
              color: $yellow;
            }
          }
          &:hover {
            i {
              color: $yellow;
            }
          }
        }
      }
      .Sub-Menu {
        display: none;
        position: absolute;
      
        bottom: -64px;
        text-align: left;
        background-color: #2b2e31;
        width: 240px;
      
        padding-left: 14px;
        border-radius: 4px 15px;
        li {
          margin-left: 0 !important;
          &:hover {
            a {
              color: $yellow !important;
            }
          }
          a {
            color: $white !important;
          }
        }
      }
    }
  }
  .Title {
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-size: 64px;
      letter-spacing: 3px;
      color: $white;
      font-family: "Cinzel", serif;
      text-shadow: rgb(0, 0, 0) 19.25px -6.34333px 15.2012px;
      transform: translateY(290px);
    }
  }
}
.Header-Resp {
  display: none;
  color: $white;
  padding: 20px 0;
  .Menu-bar {
    i {
      font-size: 28px;
    }
  }
  .Logoo {
    h4 {
      font-family: "Cinzel", serif;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 22px;
      p {
        font-size: 10px;
        margin-left: 15px;
        margin-bottom: 0;
        letter-spacing: 10px;
      }
    }
  }
  .Cart {
    i {
      font-size: 28px;
    }
  }
}

.fixed {
  background-color: #2b2e31;
}
.Block {
  display: none;
}

#Footer {
  background-color: #1b2024;
  padding: 50px 0;
  h2 {
    font-family: initial;
    color: $yellow;
    letter-spacing: 1px;
    font-size: 24px;
    &.SecondH {
      margin-bottom: 20px;
    }
  }
  ul {
    margin-bottom: 42px;
    li {
      color: $white;
      list-style: none;
      font-family: initial;
    }
  }
  a {
    color: $white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0 8px;
    transition: all 0.2s linear;
    &.Fb {
      font-size: 16px;
      padding: 14px 21px;
    }
    &.Inst {
      font-size: 18px;
      padding: 14px 20px;
    }
    &:hover {
      color: $yellow;
    }
  }
}
.Bottom-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.9);
  p {
    font-size: 14px;
    color: $white;
    line-height: 45px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

%Menu-List {
  .Img-Menu {
    position: relative;
    .MainImg {
      border-radius: 0px 140px 140px 140px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
      transition: all 0.3s linear;
      width: 100%;
    }
    &:hover {
      .MainImg {
        border-radius: 140px 0 140px 140px;
      }
      .Img-zoom {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out;
        top: -256px;
        left: -19px;
        img {
          border-radius: 50px 100px;
        }
      }
    }
  }
  .Img-zoom {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -246px;
    left: -19px;
  }
}

%MenuList-S {
  padding-top: 50px;
  .Img-Menu {
    padding-bottom: 14px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: all 0.3s linear;
    }
    &:hover {
      img {
        transform: scale(1.1);
        border-radius: 90px;
      }
    }
  }
}
%H2 {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  h2 {
    font-size: 70px;
    color: $white;
    text-shadow: 5px 0 black;
  }
}
%Button {
  .ViewBtn {
    color: $yellow;
    position: relative;
    border: 2px solid $yellow;
    padding: 16px 37px;
    text-decoration: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: $yellow;
      -webkit-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
      z-index: -100;
    }
    &:hover {
      color: $white;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
%Images {
  position: relative;
  padding: 20px 0;
  .Img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
    h2 {
      color: $white;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  .Img {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s linear;
    }
    .img-overlay {
      transition: all 0.3s ease-in;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    .Img-text {
      top: 45%;
    }
    .img-overlay {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
}

%Modals {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1000;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  display: none;
  .Modal-context {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 1s;
    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0;
      }
      to {
        top: 0;
        opacity: 1;
      }
    }

    img {
      width: 100%;
      transition: all 0.3s linear;
    }
    .Modal-img {
      margin-bottom: 40px;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      h4 {
        margin-top: 14px;
        font-size: 16px;
        color: $yellow;
      }
    }
  }
}
%Close{
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  float: right;
  &:hover {
    i {
      color: #fff;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .Top-bar {
    display: none;
  }
  .slider {
    position: relative;
  }
  #Header {
    padding: 0px !important;

    .Navbar {
      position: absolute;
      width: 100%;
      top: 0;
      left: -120%;
      transition: 0.5s;
      text-align: left;
      background-color: rgb(26, 25, 25);
      &.activeM {
        left: 0;
      }
      ul {
        display: block;
        height: 100vh;
      }
      li {
        padding-bottom: 51px !important;
      }

      .Sub-Menu {
        position: absolute;
        text-align: left;
        background-color: #2b2e31;
        width: 240px !important;
        border-radius: 4px 15px;
        left: 3px;
        top: 24px;
        bottom: -4px !important;
        li {
          padding-bottom: 10px !important;
        }
      }
    }

    .Logo {
      display: none;
    }
  }
  .Head {
    .Header-Resp {
      display: block !important;
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
  .fixed {
    display: none;
  }
  // .MenuClick {
  //   &.activeMenuItems {
  //     display: block !important;
  //   }
  // }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .Img-zoom {
    display: none;
  }
  %H2 {
    h2 {
      font-size: 40px;
    }
  }
}
