* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Head {
  position: absolute;
  z-index: 1000;
}

.Head .Top-bar {
  background-color: #2b2e31;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 32px;
}

.Head .Top-bar .Top-bar-left span {
  margin-right: 28px;
}

.Head .Top-bar .Top-bar-left span:last-child {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-left span:last-child:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right i {
  margin: 0 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right i:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right span:hover {
  color: #c47908;
  cursor: pointer;
}

.Head #Header {
  font-family: "Cinzel", serif;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.Head #Header .Logo {
  color: #ffffff;
}

.Head #Header .Logo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Head #Header .Logo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Head #Header .Navbar ul li {
  list-style: none;
  margin-left: 30px;
  position: relative;
  font-weight: bold;
  padding-bottom: 10px;
}

.Head #Header .Navbar ul li .active {
  color: #c47908;
}

.Head #Header .Navbar ul li i {
  margin-left: 5px;
  font-size: 10px;
  color: #ffffff;
}

.Head #Header .Navbar ul li a {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  text-decoration: none;
  color: #ffffff;
}

.Head #Header .Navbar ul li.Main {
  position: relative;
}

.Head #Header .Navbar ul li.Main:hover .Sub-Menu {
  display: block;
}

.Head #Header .Navbar ul li:hover a {
  color: #c47908;
}

.Head #Header .Navbar ul li:hover i {
  color: #c47908;
}

.Head #Header .Navbar .Sub-Menu {
  display: none;
  position: absolute;
  bottom: -64px;
  text-align: left;
  background-color: #2b2e31;
  width: 240px;
  padding-left: 14px;
  border-radius: 4px 15px;
}

.Head #Header .Navbar .Sub-Menu li {
  margin-left: 0 !important;
}

.Head #Header .Navbar .Sub-Menu li:hover a {
  color: #c47908 !important;
}

.Head #Header .Navbar .Sub-Menu li a {
  color: #ffffff !important;
}

.Head .Title {
  text-align: center;
}

.Head .Title h1 {
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Cinzel", serif;
  text-shadow: black 19.25px -6.34333px 15.2012px;
  -webkit-transform: translateY(290px);
          transform: translateY(290px);
}

.Header-Resp {
  display: none;
  color: #ffffff;
  padding: 20px 0;
}

.Header-Resp .Menu-bar i {
  font-size: 28px;
}

.Header-Resp .Logoo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Header-Resp .Logoo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Header-Resp .Cart i {
  font-size: 28px;
}

.fixed {
  background-color: #2b2e31;
}

.Block {
  display: none;
}

#Footer {
  background-color: #1b2024;
  padding: 50px 0;
}

#Footer h2 {
  font-family: initial;
  color: #c47908;
  letter-spacing: 1px;
  font-size: 24px;
}

#Footer h2.SecondH {
  margin-bottom: 20px;
}

#Footer ul {
  margin-bottom: 42px;
}

#Footer ul li {
  color: #ffffff;
  list-style: none;
  font-family: initial;
}

#Footer a {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 8px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#Footer a.Fb {
  font-size: 16px;
  padding: 14px 21px;
}

#Footer a.Inst {
  font-size: 18px;
  padding: 14px 20px;
}

#Footer a:hover {
  color: #c47908;
}

.Bottom-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.9);
}

.Bottom-bar p {
  font-size: 14px;
  color: #ffffff;
  line-height: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .Top-bar {
    display: none;
  }
  .slider {
    position: relative;
  }
  #Header {
    padding: 0px !important;
  }
  #Header .Navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: -120%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: left;
    background-color: #1a1919;
  }
  #Header .Navbar.activeM {
    left: 0;
  }
  #Header .Navbar ul {
    display: block;
    height: 100vh;
  }
  #Header .Navbar li {
    padding-bottom: 51px !important;
  }
  #Header .Navbar .Sub-Menu {
    position: absolute;
    text-align: left;
    background-color: #2b2e31;
    width: 240px !important;
    border-radius: 4px 15px;
    left: 3px;
    top: 24px;
    bottom: -4px !important;
  }
  #Header .Navbar .Sub-Menu li {
    padding-bottom: 10px !important;
  }
  #Header .Logo {
    display: none;
  }
  .Head .Header-Resp {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .fixed {
    display: none;
  }
}

@media (max-width: 576px) {
  .Img-zoom {
    display: none;
  }
}

.SectionFirst {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.SectionFirst .Title {
  text-align: center;
  -webkit-transform: translateY(250px);
          transform: translateY(250px);
}

.SectionFirst .Title h1 {
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Cinzel", serif;
  text-shadow: black 19.25px -6.34333px 15.2012px;
}

.DIV {
  -webkit-animation: DIV 2.5s infinite;
  animation: DIV 2.5s infinite;
  position: absolute;
  bottom: 44px;
  right: 50%;
  left: 50%;
}

.DIV i {
  color: #ffffff;
  font-size: 44px;
}

.DIV.bottom {
  top: calc(50% -0px);
}

@-webkit-keyframes DIV {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes DIV {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.SectionSecond {
  padding: 88px 0;
}

.SectionSecond i {
  color: #63d0e8;
  font-size: 35px;
  padding-top: 30px;
}

.SectionSecond h6 {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  opacity: 0.8;
  padding-top: 28px;
  padding-bottom: 30px;
}

.SectionSecond .Icon {
  border-left: 1.5px solid #e8e2e2;
  border-right: 1.5px solid #e8e2e2;
}

.SectionThird {
  padding: 0px 0px 50px 0;
}

@media (max-width: 992px) {
  .Icon {
    border-left: none !important;
    border-right: none !important;
    border-top: 1.5px solid #e8e2e2;
    border-bottom: 1.5px solid #e8e2e2;
  }
}

@media (max-width: 768px) {
  .SectionFirst h1 {
    font-size: 52px !important;
  }
}

@media (max-width: 576px) {
  .SectionFirst h1 {
    font-size: 44px !important;
  }
}
/*# sourceMappingURL=filialf.css.map */