* {
  margin: 0%;
  padding: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Head {
  position: absolute;
  z-index: 1000;
}

.Head .Top-bar {
  background-color: #2b2e31;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 32px;
}

.Head .Top-bar .Top-bar-left span {
  margin-right: 28px;
}

.Head .Top-bar .Top-bar-left span:last-child {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-left span:last-child:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right i {
  margin: 0 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right i:hover {
  color: #c47908;
  cursor: pointer;
}

.Head .Top-bar .Top-bar-right span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Head .Top-bar .Top-bar-right span:hover {
  color: #c47908;
  cursor: pointer;
}

.Head #Header {
  font-family: "Cinzel", serif;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.Head #Header .Logo {
  color: #ffffff;
}

.Head #Header .Logo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Head #Header .Logo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Head #Header .Navbar ul li {
  list-style: none;
  margin-left: 30px;
  position: relative;
  font-weight: bold;
  padding-bottom: 10px;
}

.Head #Header .Navbar ul li .active {
  color: #c47908;
}

.Head #Header .Navbar ul li i {
  margin-left: 5px;
  font-size: 10px;
  color: #ffffff;
}

.Head #Header .Navbar ul li a {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  text-decoration: none;
  color: #ffffff;
}

.Head #Header .Navbar ul li.Main {
  position: relative;
}

.Head #Header .Navbar ul li.Main:hover .Sub-Menu {
  display: block;
}

.Head #Header .Navbar ul li:hover a {
  color: #c47908;
}

.Head #Header .Navbar ul li:hover i {
  color: #c47908;
}

.Head #Header .Navbar .Sub-Menu {
  display: none;
  position: absolute;
  bottom: -64px;
  text-align: left;
  background-color: #2b2e31;
  width: 240px;
  padding-left: 14px;
  border-radius: 4px 15px;
}

.Head #Header .Navbar .Sub-Menu li {
  margin-left: 0 !important;
}

.Head #Header .Navbar .Sub-Menu li:hover a {
  color: #c47908 !important;
}

.Head #Header .Navbar .Sub-Menu li a {
  color: #ffffff !important;
}

.Head .Title {
  text-align: center;
}

.Head .Title h1 {
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 3px;
  color: #ffffff;
  font-family: "Cinzel", serif;
  text-shadow: black 19.25px -6.34333px 15.2012px;
  -webkit-transform: translateY(290px);
          transform: translateY(290px);
}

.Header-Resp {
  display: none;
  color: #ffffff;
  padding: 20px 0;
}

.Header-Resp .Menu-bar i {
  font-size: 28px;
}

.Header-Resp .Logoo h4 {
  font-family: "Cinzel", serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.Header-Resp .Logoo h4 p {
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 0;
  letter-spacing: 10px;
}

.Header-Resp .Cart i {
  font-size: 28px;
}

.fixed {
  background-color: #2b2e31;
}

.Block {
  display: none;
}

#Footer {
  background-color: #1b2024;
  padding: 50px 0;
}

#Footer h2 {
  font-family: initial;
  color: #c47908;
  letter-spacing: 1px;
  font-size: 24px;
}

#Footer h2.SecondH {
  margin-bottom: 20px;
}

#Footer ul {
  margin-bottom: 42px;
}

#Footer ul li {
  color: #ffffff;
  list-style: none;
  font-family: initial;
}

#Footer a {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 8px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#Footer a.Fb {
  font-size: 16px;
  padding: 14px 21px;
}

#Footer a.Inst {
  font-size: 18px;
  padding: 14px 20px;
}

#Footer a:hover {
  color: #c47908;
}

.Bottom-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.9);
}

.Bottom-bar p {
  font-size: 14px;
  color: #ffffff;
  line-height: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Home-SectionFour .Img-Menu {
  position: relative;
}

.Home-SectionFour .Img-Menu .MainImg {
  border-radius: 0px 140px 140px 140px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 100%;
}

.Home-SectionFour .Img-Menu:hover .MainImg {
  border-radius: 140px 0 140px 140px;
}

.Home-SectionFour .Img-Menu:hover .Img-zoom {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: -256px;
  left: -19px;
}

.Home-SectionFour .Img-Menu:hover .Img-zoom img {
  border-radius: 50px 100px;
}

.Home-SectionFour .Img-zoom {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -246px;
  left: -19px;
}

.slider {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider h2 {
  font-size: 70px;
  color: #ffffff;
  text-shadow: 5px 0 black;
}

.Home-SectionFour .ViewBtn {
  color: #c47908;
  position: relative;
  border: 2px solid #c47908;
  padding: 16px 37px;
  text-decoration: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

.Home-SectionFour .ViewBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #c47908;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  z-index: -100;
}

.Home-SectionFour .ViewBtn:hover {
  color: #ffffff;
}

.Home-SectionFour .ViewBtn:hover::before {
  width: 100%;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .Top-bar {
    display: none;
  }
  .slider {
    position: relative;
  }
  #Header {
    padding: 0px !important;
  }
  #Header .Navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: -120%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: left;
    background-color: #1a1919;
  }
  #Header .Navbar.activeM {
    left: 0;
  }
  #Header .Navbar ul {
    display: block;
    height: 100vh;
  }
  #Header .Navbar li {
    padding-bottom: 51px !important;
  }
  #Header .Navbar .Sub-Menu {
    position: absolute;
    text-align: left;
    background-color: #2b2e31;
    width: 240px !important;
    border-radius: 4px 15px;
    left: 3px;
    top: 24px;
    bottom: -4px !important;
  }
  #Header .Navbar .Sub-Menu li {
    padding-bottom: 10px !important;
  }
  #Header .Logo {
    display: none;
  }
  .Head .Header-Resp {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .fixed {
    display: none;
  }
}

@media (max-width: 576px) {
  .Img-zoom {
    display: none;
  }
  .slider h2 {
    font-size: 40px;
  }
}

.preloader {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 9999;
}

.del {
  opacity: 0;
  visibility: hidden;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider h2 {
  color: #ffffff;
  font-family: "Cinzel", serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.slider::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url(http://cristianonew.ukrdevs.com/wp-content/uploads/2016/10/slide-2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url(http://cristianonew.ukrdevs.com/wp-content/uploads/2016/10/slide-2.jpg);
  -webkit-animation: increase 20s linear 30ms infinite;
          animation: increase 20s linear 30ms infinite;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -2;
}

.slider::after {
  content: "";
  width: 100%;
  height: 13px;
  position: absolute;
  background-image: url(http://cristianonew.ukrdevs.com/wp-content/themes/cristiano/assets/images/torn-papper2.png);
  bottom: -8px;
  left: 0;
}

.slider .shading {
  position: absolute;
  background-color: #000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, rgba(0, 0, 0, 0.25)), to(black));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 60%, black 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

@-webkit-keyframes increase {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes increase {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.Home-SectionTwo {
  padding: 60px 0;
}

.Home-SectionTwo .Images {
  position: relative;
  padding: 20px 0;
}

.Home-SectionTwo .Images .Img-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Home-SectionTwo .Images .Img-text h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

.Home-SectionTwo .Images .Img {
  position: relative;
  overflow: hidden;
}

.Home-SectionTwo .Images .Img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Home-SectionTwo .Images .Img .img-overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.Home-SectionTwo .Images .Img::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  z-index: 11;
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
}

.Home-SectionTwo .Images:hover .img-overlay {
  opacity: 1;
  visibility: visible;
}

.Home-SectionTwo .Images:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Home-SectionTwo .Images:hover .Img-text {
  display: block !important;
}

.Home-SectionThree {
  background-image: url(http://cristianonew.ukrdevs.com/wp-content/uploads/2016/08/chef-service.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.Home-SectionThree .Promo {
  max-width: 640px;
  background-color: #ffffff;
  text-align: center;
  opacity: 0.95;
  padding: 50px 45px 30px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  font-size: 15px;
}

.Home-SectionFour {
  margin: 60px 0;
}

.Home-SectionFour h5 {
  font-size: 37px;
  margin-bottom: 52px;
  margin-top: 39px;
  text-transform: uppercase;
  font-family: auto;
  font-weight: 600;
  color: #c47908;
}

.Chef {
  margin: 100px 0;
  -webkit-box-shadow: 10px 1px 5px #bfbcbc;
          box-shadow: 10px 1px 5px #bfbcbc;
  padding-bottom: 34px;
}

.Chef .Slider-image {
  width: 90% !important;
}

.Chef .Slider-image img {
  border-radius: 50%;
  width: 100%;
}

.Chef .Slider-image ul li {
  margin: 0 5px 0 5px;
  border-radius: 100px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #000000;
  opacity: 0.2;
  cursor: pointer;
  list-style-type: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Chef .Slider-image ul li a:focus {
  outline: 0;
}

.Chef .Slider-image ul li a i {
  color: black;
}

.Chef .Slider-image ul li:hover {
  opacity: 1;
}

.Chef .Slider-image p {
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 24px;
  color: black;
}

.Chef h4 {
  font-size: 37px;
  margin-bottom: 40px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: auto;
  font-weight: 600;
  color: #c47908;
}

.Chef h3 {
  text-align: center;
  margin: 24px 0;
  font-size: 23px;
  font-family: cursive;
}

.Tedbir {
  margin-bottom: 70px;
}

.Tedbir h5 {
  font-size: 37px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: auto;
  font-weight: 600;
  color: #c47908;
}

.Tedbir .MainDiv {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  padding-bottom: 30px;
}

.Tedbir .MainDiv .Pic-top {
  background-color: #c47908;
  color: #ffffff;
  padding: 10px 0;
}

.Tedbir .MainDiv .Pic img {
  width: 100%;
}

.Tedbir .MainDiv .SingName {
  background-color: #c47908;
  color: #ffffff;
  padding: 10px 0 1px 0;
}

.Tedbir .MainDiv:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

#Footer {
  background-color: #1b2024;
  padding: 50px 0;
}

#Footer h2 {
  font-family: initial;
  color: #c47908;
  letter-spacing: 1px;
  font-size: 24px;
}

#Footer h2.SecondH {
  margin-bottom: 20px;
}

#Footer ul {
  margin-bottom: 42px;
}

#Footer ul li {
  color: #ffffff;
  list-style: none;
  font-family: initial;
}

#Footer a {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 8px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#Footer a.Fb {
  font-size: 16px;
  padding: 14px 21px;
}

#Footer a.Inst {
  font-size: 18px;
  padding: 14px 20px;
}

#Footer a:hover {
  color: #c47908;
}

.Bottom-bar {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.9);
}

.Bottom-bar p {
  font-size: 14px;
  color: #ffffff;
  line-height: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Div {
  height: 800px;
  position: relative;
  overflow: hidden;
}

.Div::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.Div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(http://cristianonew.ukrdevs.com/wp-content/uploads/2016/10/slide-1.jpg);
  -webkit-animation: increase 60s linear 10ms infinite;
          animation: increase 60s linear 10ms infinite;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: -2;
}

@keyframes increase {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (max-width: 768px) {
  .slider {
    height: 630px;
  }
  .slider h2 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  .Home-SectionThree {
    height: 100vh;
  }
}

@media (max-width: 576px) {
  .slider h2 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=main.css.map */