.product__item {
    cursor: pointer;
}

.product__info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 15px;
}

.product__info span {
    font-size: .9rem;
}

.product__card-bottom span i {
    font-size: 1.2rem;
    border-radius: 50px;
    background: var(--primary-color);
    color: #fff;
    padding: 5px;
}

.product__card-bottom .price {
    font-weight: 600;
}

@media only screen and (max-width:992px) {
    .product__info h3 a {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:768px) {
    .product__info h3 a {
        font-size: 1rem;
    }

    .product__card-bottom span i {
        font-size: 1rem;
    }
}